* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/main_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#simple-text-card {
    margin: 0px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#simple-text-card h1 {
    font-size: 50px;
}


#simple-text-card p {
    font-size: 14px;
}

.button-wrapper a {
    padding: 15px;
    width: 200px;
    color: white;
    box-shadow: 0px 3px 6px rgb(0, 14, 53);
}

.register {
    margin-right: 7px;
    background-color: #FF4E00;
    border: 1px solid #8B2B00
}

.login {
    border: 1px solid #543800;
    background-color: #FFB114;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card .card-title {
    color: white;
}

.card .form-control {
    box-shadow: 0px 3px 6px rgb(0, 14, 53);
}

.card button {
    background-color: #FF4E00;
    border: 1px solid #8B2B00;
    box-shadow: 0px 3px 6px rgb(0, 14, 53);
    color: white;
    width: 200px;
    margin: 10px 0px;
}